# Ignore build + deps
node_modules/ linguist-vendored
dist/ linguist-vendored
build/ linguist-vendored
.next/ linguist-vendored
out/ linguist-vendored

# Ignore vendor / external code
vendor/ linguist-vendored

# If Hack files exist
*.hack linguist-vendored
*.hh linguist-vendored
*.hack linguist-detectable=false
